html,
body,
#map{
  height: 100%;
  padding: 0;
  margin: 0;
}
#map{
  z-index:0;
}
body {
  padding: 0;
  margin: 0;
}

.col-md-2-transparent {
  background: none;
}

/* .col-md-2 {
  opacity:0.6!important;
} */


.col-md-2{
  position: absolute;
  height: 220px;
  z-index: 2;
  margin-top: 80px;
  margin-left: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,.25);
} 
/* .well-sm {
background-color: rgba(0,0,0,.25);
} */

#selDataset {
  width: 120px;
  height: 30px;
}

/*700px width for example*/

#selDataset option {
  width: 700px; 
  height: 60px; }