html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.h5 {
  margin-left: 10px;
  margin-right: 5px;
}

p {
  font-size: 40;
  font-weight: bold;
}


/*700px width for example*/

#selDataset2 option {
  width: 700px; 
  height: 60px; }

tr:nth-child(5n+1) {background:#fff;}
tr:nth-child(5n+2) {background:#eee;}
tr:nth-child(5n+3) {background:#ddd;}
tr:nth-child(5n+4) {background:#ccc;}
tr:nth-child(5n+0) {background:#bbb;}

.col-md-10 {
  padding-top:10px;
  padding-bottom:40px;

}

.col-md-6 {
  padding-top:40px;
  padding-bottom:40px;

}

.col-md-12 {
  padding-top:40px;
  padding-bottom:40px;

}