html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#maindesc {
  margin-top: 26px;
}
#maindesc-col{
  padding-top:20px;
  padding-bottom:32px;
  background-color: #eee;
}

#selDataset {
  width: 120px;
  height: 30px;
}

/*700px width for example*/

#selDataset option {
  width: 700px; 
  height: 60px; }


#selDataset2 {
  width: 120px;
  height: 30px;
}

/*700px width for example*/

#selDataset2 option {
  width: 700px; 
  height: 60px; }


/* td, th {
  padding: 0px 0px 0px 50px;
} */
.col-md-2{
  padding-top: 20px;
  height: 150px;
  background-color: rgba(0,0,0,.25);
} 


table{
  border: 1px solid black;
  /* width: 1200px; */
}
th{
  width: 900px;
}
tr:nth-child(5n+1) {background:#fff;}
tr:nth-child(5n+2) {background:#eee;}
tr:nth-child(5n+3) {background:#ddd;}
tr:nth-child(5n+4) {background:#ccc;}
tr:nth-child(5n+0) {background:#bbb;}
