<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loan Dash</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='static/js/logic.js') }}"></script>
  <!-- <script src ="../static/lib/canvasjs.min.js" charset="utf-8"></script> -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>New York City PPP Loans</h1>
        <a href= "industry.html"><p>Click here to explore the different industries</p></a>
        <a href= "../geo/geoindex.html"><p>Click here for map distribution.</p></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">NYC Loan Totals</h3>
          </div>
          <div id="sample-metadata" class="panel-body">
          <h5>Total Loans: 17550</h5>
          <h5>Total Industries: 20</h5>
          <h5>Total Jobs: 766874 </h5>
        </div>
        </div>
      </div> 
      <div class="col-md-10 col align-self-end" style="height:440px;">
        <table class="table-striped table-responsive"></table>
      </div>
      <div class="col-md-6">
        <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
        <br>
        <p>The above chart shows how many total jobs were retained per Loan Range.</p>
      </div>
      <br>
      <div class="col-md-6">
        <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
        <br>
        <p>The above pie chart shows total loans dispensed per Loan Range.</p>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chartContainer3" style="height: 500px; width: 100%;"></div>
        <br>
        <p>This chart shows the number of loans that were issued for each of the 20 industries as determined by loan range.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <br>
        <p>This chart shows how many loans were issued in each loan range. This chart looks at how many loans were issued for all industries.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        <br>
        <p>The final chart shows the number of jobs retained in each loan range. It is an overall look at all industries.</p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>   
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="/plotly-challenge/static/js/app.js"></script> link for github pages deploy -->
  <script src="../static/js/logic.js" charset="utf-8"></script> 
  <script src="/nyc_ppp_loan/static/js/logic.js"></script> <!-- link for github pages deploy-->
</body>

</html>