<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loan Dash</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src ="../static/lib/canvasjs.min.js" charset="utf-8"></script> -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>New York City PPP Loans</h1>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-2" id="well-col">
          <div class="well well-sm">
            <a href= "{{url_for('index')}}"><p>NYC PPP Loans Home</p></a>
            <a href= "{{url_for('industry')}}"><p>Data by Industry</p></a>
            <a href= "{{url_for('geo')}}"><p>Map distribution</p></a>
          </div>
          </div>
          <div class="col-md-10" id="maindesc-col">
            <h5 id="maindesc"> The following data is for all NYC PPP Loan recipients at or above $150K as of July 6, 2020. The data was obtained from data.BetaNYC via the Treasury Department and SBA.
              The source data was used to quantify a breakdown in regards to industry, job retenance, and loan totals in order to qualify and determine efficacy of government loan dispersements in 
              their primary objective to retain jobs and keep businesses afloat during the height of the Covid-19 pandemic during the Spring and Summer of 2020. The original data set can
             be found <a href="https://data.beta.nyc/dataset/0907b947-a082-46ac-b9f8-d6ef81acae81/resource/84df2d7a-9cf5-49c8-95dd-e300b3bc6b62/download/nycppprecipients.csv">here</a>. </h5>
          </div>
          </div>
      <br>
      <div class="row">
        <div class="col-md-2" id="panel-col">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">NYC Loan Totals</h3>
            </div>
            <div id="metadata" class="panel-body">
            <p>Total Loans: 17550</p>
            <p>Total Industries: 20</p>
            <p>Total Jobs: 766874 </p>
            </div>
          </div>
        </div>
        <div class="col-md-10" id="table-col">
        <table class="table-striped"></table>
        </div>
      </div>
      <div class="col-md-4" id="desc">
        <h2>The following charts breakdown the number of loans per loans range by industry.</h2>
    </div>
      <div class="col-md-8" id="cont6">
        <h4 id="pdesc">Total # of Loans per Loan Range.</h4>
        <br>
        <div id="chartContainer5" style="height: 340px; width: 100%;"></div>
      </div>
      <br>
    <div class="row">
      <div class="col-md-12" id="cont12">
        <h4 id="pdesc">This chart shows the number of loans that were issued for each of the 20 industries as determined by loan range.</h4>
        <br>
        <div id="chartContainer3" style="height: 500px; width: 100%;"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" id="cont12">
        <h4 id="pdesc">This chart shows how many loans were issued in each loan range for each industry.</h4>
        <br>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
    <br>
    <div class="col-md-4" id="desc">
      <h2>The following charts breakdown the # of jobs retained per loan range by industry.</h2>
    </div>
    <div class="col-md-8" id="cont6">
      <h4 id="pdesc">Total # number of jobs retained per Loan Range.</h4>
      <br>
      <div id="chartContainer4" style="height: 340px; width: 100%;"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" id="cont12">
        <h4 id="pdesc">This chart shows the number of jobs retained for each of the 20 industries as determined by loan range.</h4>
        <br>
        <div id="chartContainer6" style="height: 500px; width: 100%;"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" id ="cont12">
        <h4 id="pdesc">This chart shows the number of jobs retained in each loan range for each of the 20 industries.</h4>
        <br>
        <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
    <br>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>   
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="../static/js/logic.js" charset="utf-8"></script> 
  <!-- <script src="{{ url_for('static', filename='/js/logic.js') }}"></script>  -->
  <!--app.py-->
  <!-- <script src="nyc_ppp_loan/static/js/logic.js"></script> 
    link for github pages deploy
</body>

</html>