<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loan Dash</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style2.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>NYC PPP Loans by Industry</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
    <div class="well well-sm">
      <a href= "{{url_for('index')}}"><p>NYC PPP Loans Home</p></a>
      <a href= "{{url_for('industry')}}"><p>Data by Industry</p></a>
      <a href= "{{url_for('geo')}}"><p>Map distribution</p></a>
    </div>
  </div>
  <div class="col-md-10" id="maindesc-col">
    <h5 id="maindesc">The following is a quantitative analysis of loan recipients by industry reflective of loans recieved and jobs retained inclusively as well as exclusively of each industry for comparison.
  </div>
    <div class="row">
      <div class="col-md-12" style="height:40px;">
        <div class='output'></div>
     </div>

      <table class="table table-striped table-hover"></table>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>   
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/logic20.js" charset="utf-8"></script> <!-- link for local server deploy-->
  <!-- <script src="{{ url_for('static', filename='/js/logic20.js') }}"></script> -->

</body>
</html>